@import "tailwindcss";

/* Hide scrollbar globally but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee-slow {
  animation: marquee 40s linear infinite;
}

.animate-marquee-slow-reverse {
  animation: marquee 40s linear infinite reverse;
}

.animate-marquee-reverse {
  animation: marquee 30s linear infinite reverse;
}

@keyframes enter-bottom-right {
  0% {
    clip-path: inset(100% 0 0 100%);
    opacity: 0;
  }

  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.animate-enter-br {
  animation: enter-bottom-right 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes waterFill {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.animate-water-fill {
  background: linear-gradient(to top, #ccff00 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  animation: waterFill 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}